.sys-grid{ margin-top: 0; margin-bottom: 15px; }
.sys-grid:last-child{ margin-bottom: 0; }
.sys-grid .col1, .sys-grid .col2,
.sys-grid .col3, .sys-grid .col4, .sys-grid .col5{
    background: #eee;
}
.sys-grid .m-box{
    height: 30px;
    padding: 0;
    border-left: 15px solid #ccc;
    border-right: 15px solid #ccc;
}

.sys-color{
    overflow: hidden;
}
.sys-color span{
    float:left;
    width: 80px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

#icons span{
    float: left;
    width: 220px;
    font-size: 16px;
    line-height: 40px;
}
#icons span i{
    font-size: 26px;
}