@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?94810161');
  src: url('fontello.eot?94810161#iefix') format('embedded-opentype'),
       url('fontello.woff?94810161') format('woff'),
       url('fontello.ttf?94810161') format('truetype'),
       url('fontello.svg?94810161#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?94810161#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-music:before { content: '\e8db'; } /* '' */
.icon-youtube-play:before { content: '\e908'; } /* '' */
.icon-mail:before { content: '\e8dd'; } /* '' */
.icon-mail-alt:before { content: '\e8de'; } /* '' */
.icon-heart:before { content: '\e8e9'; } /* '' */
.icon-heart-empty:before { content: '\e8ea'; } /* '' */
.icon-star:before { content: '\e8d9'; } /* '' */
.icon-star-empty:before { content: '\e8da'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-video:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-camera-alt:before { content: '\e8dc'; } /* '' */
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-th:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e8ef'; } /* '' */
.icon-ok-circled2:before { content: '\e8f6'; } /* '' */
.icon-ok-squared:before { content: '\e8ec'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e8f5'; } /* '' */
.icon-cancel-circled2:before { content: '\e8f4'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e8f0'; } /* '' */
.icon-plus-squared:before { content: '\e8eb'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-minus-circled:before { content: '\e8ee'; } /* '' */
.icon-minus-squared:before { content: '\e8ed'; } /* '' */
.icon-help:before { content: '\e817'; } /* '' */
.icon-help-circled:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-unlink:before { content: '\e811'; } /* '' */
.icon-link-ext:before { content: '\e8fa'; } /* '' */
.icon-link-ext-alt:before { content: '\e8f9'; } /* '' */
.icon-attach:before { content: '\e8f7'; } /* '' */
.icon-lock:before { content: '\e812'; } /* '' */
.icon-lock-open:before { content: '\e8f8'; } /* '' */
.icon-lock-open-alt:before { content: '\e813'; } /* '' */
.icon-pin:before { content: '\e8fb'; } /* '' */
.icon-eye:before { content: '\e814'; } /* '' */
.icon-eye-off:before { content: '\e815'; } /* '' */
.icon-tag:before { content: '\e816'; } /* '' */
.icon-tags:before { content: '\e822'; } /* '' */
.icon-bookmark:before { content: '\e821'; } /* '' */
.icon-bookmark-empty:before { content: '\e823'; } /* '' */
.icon-flag:before { content: '\e820'; } /* '' */
.icon-flag-empty:before { content: '\e81f'; } /* '' */
.icon-thumbs-up:before { content: '\e81b'; } /* '' */
.icon-thumbs-down:before { content: '\e81c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e81d'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e81e'; } /* '' */
.icon-download-cloud:before { content: '\e8df'; } /* '' */
.icon-upload-cloud:before { content: '\e8e0'; } /* '' */
.icon-reply:before { content: '\e8e4'; } /* '' */
.icon-reply-all:before { content: '\e8e5'; } /* '' */
.icon-forward:before { content: '\e8e6'; } /* '' */
.icon-quote-left:before { content: '\e819'; } /* '' */
.icon-quote-right:before { content: '\e81a'; } /* '' */
.icon-code:before { content: '\e818'; } /* '' */
.icon-export:before { content: '\e8e3'; } /* '' */
.icon-export-alt:before { content: '\e8e2'; } /* '' */
.icon-pencil:before { content: '\e824'; } /* '' */
.icon-edit:before { content: '\e8e1'; } /* '' */
.icon-print:before { content: '\e825'; } /* '' */
.icon-retweet:before { content: '\e826'; } /* '' */
.icon-comment:before { content: '\e827'; } /* '' */
.icon-chat:before { content: '\e828'; } /* '' */
.icon-comment-empty:before { content: '\e829'; } /* '' */
.icon-chat-empty:before { content: '\e82a'; } /* '' */
.icon-bell:before { content: '\e82b'; } /* '' */
.icon-bell-alt:before { content: '\e82c'; } /* '' */
.icon-attention-alt:before { content: '\e82d'; } /* '' */
.icon-attention:before { content: '\e82e'; } /* '' */
.icon-attention-circled:before { content: '\e82f'; } /* '' */
.icon-location:before { content: '\e830'; } /* '' */
.icon-direction:before { content: '\e831'; } /* '' */
.icon-trash:before { content: '\e832'; } /* '' */
.icon-doc:before { content: '\e833'; } /* '' */
.icon-docs:before { content: '\e834'; } /* '' */
.icon-doc-text:before { content: '\e835'; } /* '' */
.icon-doc-inv:before { content: '\e836'; } /* '' */
.icon-doc-text-inv:before { content: '\e837'; } /* '' */
.icon-folder:before { content: '\e838'; } /* '' */
.icon-folder-open:before { content: '\e839'; } /* '' */
.icon-box:before { content: '\e83a'; } /* '' */
.icon-phone:before { content: '\e83b'; } /* '' */
.icon-phone-squared:before { content: '\e8fc'; } /* '' */
.icon-menu:before { content: '\e8e7'; } /* '' */
.icon-cog:before { content: '\e83c'; } /* '' */
.icon-cog-alt:before { content: '\e83d'; } /* '' */
.icon-wrench:before { content: '\e83f'; } /* '' */
.icon-basket:before { content: '\e83e'; } /* '' */
.icon-calendar:before { content: '\e840'; } /* '' */
.icon-calendar-empty:before { content: '\e841'; } /* '' */
.icon-login:before { content: '\e842'; } /* '' */
.icon-logout:before { content: '\e843'; } /* '' */
.icon-volume-off:before { content: '\e8f3'; } /* '' */
.icon-volume-down:before { content: '\e8f2'; } /* '' */
.icon-volume-up:before { content: '\e8f1'; } /* '' */
.icon-headphones:before { content: '\e844'; } /* '' */
.icon-clock:before { content: '\e846'; } /* '' */
.icon-lightbulb:before { content: '\e847'; } /* '' */
.icon-block:before { content: '\e845'; } /* '' */
.icon-resize-full:before { content: '\e849'; } /* '' */
.icon-resize-full-alt:before { content: '\e848'; } /* '' */
.icon-resize-small:before { content: '\e84a'; } /* '' */
.icon-resize-vertical:before { content: '\e84c'; } /* '' */
.icon-resize-horizontal:before { content: '\e84d'; } /* '' */
.icon-move:before { content: '\e84b'; } /* '' */
.icon-zoom-in:before { content: '\e84e'; } /* '' */
.icon-zoom-out:before { content: '\e84f'; } /* '' */
.icon-down-circled2:before { content: '\e850'; } /* '' */
.icon-up-circled2:before { content: '\e851'; } /* '' */
.icon-left-circled2:before { content: '\e852'; } /* '' */
.icon-right-circled2:before { content: '\e853'; } /* '' */
.icon-down-dir:before { content: '\e854'; } /* '' */
.icon-up-dir:before { content: '\e855'; } /* '' */
.icon-left-dir:before { content: '\e856'; } /* '' */
.icon-right-dir:before { content: '\e857'; } /* '' */
.icon-down-open:before { content: '\e858'; } /* '' */
.icon-left-open:before { content: '\e859'; } /* '' */
.icon-right-open:before { content: '\e85a'; } /* '' */
.icon-up-open:before { content: '\e85b'; } /* '' */
.icon-angle-left:before { content: '\e85c'; } /* '' */
.icon-angle-right:before { content: '\e85d'; } /* '' */
.icon-angle-up:before { content: '\e85e'; } /* '' */
.icon-angle-down:before { content: '\e85f'; } /* '' */
.icon-angle-circled-left:before { content: '\e86c'; } /* '' */
.icon-search:before { content: '\e8e8'; } /* '' */
.icon-angle-circled-up:before { content: '\e86e'; } /* '' */
.icon-angle-circled-down:before { content: '\e86f'; } /* '' */
.icon-angle-double-left:before { content: '\e860'; } /* '' */
.icon-angle-double-right:before { content: '\e861'; } /* '' */
.icon-angle-double-up:before { content: '\e862'; } /* '' */
.icon-angle-double-down:before { content: '\e863'; } /* '' */
.icon-down:before { content: '\e864'; } /* '' */
.icon-left:before { content: '\e865'; } /* '' */
.icon-right:before { content: '\e866'; } /* '' */
.icon-up:before { content: '\e867'; } /* '' */
.icon-down-big:before { content: '\e868'; } /* '' */
.icon-left-big:before { content: '\e869'; } /* '' */
.icon-right-big:before { content: '\e86a'; } /* '' */
.icon-up-big:before { content: '\e86b'; } /* '' */
.icon-left-circled:before { content: '\e8ff'; } /* '' */
.icon-right-circled:before { content: '\e900'; } /* '' */
.icon-up-circled:before { content: '\e901'; } /* '' */
.icon-down-circled:before { content: '\e902'; } /* '' */
.icon-cw:before { content: '\e870'; } /* '' */
.icon-ccw:before { content: '\e871'; } /* '' */
.icon-arrows-cw:before { content: '\e872'; } /* '' */
.icon-level-up:before { content: '\e874'; } /* '' */
.icon-level-down:before { content: '\e875'; } /* '' */
.icon-shuffle:before { content: '\e873'; } /* '' */
.icon-play:before { content: '\e876'; } /* '' */
.icon-play-circled:before { content: '\e8fd'; } /* '' */
.icon-play-circled2:before { content: '\e8fe'; } /* '' */
.icon-stop:before { content: '\e877'; } /* '' */
.icon-pause:before { content: '\e878'; } /* '' */
.icon-to-end:before { content: '\e879'; } /* '' */
.icon-to-end-alt:before { content: '\e87a'; } /* '' */
.icon-to-start:before { content: '\e87b'; } /* '' */
.icon-to-start-alt:before { content: '\e87c'; } /* '' */
.icon-fast-fw:before { content: '\e87d'; } /* '' */
.icon-fast-bw:before { content: '\e87e'; } /* '' */
.icon-signal:before { content: '\e87f'; } /* '' */
.icon-desktop:before { content: '\e880'; } /* '' */
.icon-laptop:before { content: '\e881'; } /* '' */
.icon-tablet:before { content: '\e882'; } /* '' */
.icon-mobile:before { content: '\e883'; } /* '' */
.icon-inbox:before { content: '\e884'; } /* '' */
.icon-globe:before { content: '\e904'; } /* '' */
.icon-sun:before { content: '\e903'; } /* '' */
.icon-cloud:before { content: '\e8a7'; } /* '' */
.icon-flash:before { content: '\e885'; } /* '' */
.icon-moon:before { content: '\e886'; } /* '' */
.icon-umbrella:before { content: '\e887'; } /* '' */
.icon-flight:before { content: '\e888'; } /* '' */
.icon-leaf:before { content: '\e889'; } /* '' */
.icon-font:before { content: '\e88a'; } /* '' */
.icon-bold:before { content: '\e88c'; } /* '' */
.icon-italic:before { content: '\e88b'; } /* '' */
.icon-text-height:before { content: '\e88d'; } /* '' */
.icon-text-width:before { content: '\e88e'; } /* '' */
.icon-align-left:before { content: '\e88f'; } /* '' */
.icon-align-center:before { content: '\e890'; } /* '' */
.icon-align-right:before { content: '\e891'; } /* '' */
.icon-align-justify:before { content: '\e892'; } /* '' */
.icon-list-bullet:before { content: '\e893'; } /* '' */
.icon-strike:before { content: '\e894'; } /* '' */
.icon-underline:before { content: '\e895'; } /* '' */
.icon-superscript:before { content: '\e896'; } /* '' */
.icon-subscript:before { content: '\e897'; } /* '' */
.icon-table:before { content: '\e8a8'; } /* '' */
.icon-columns:before { content: '\e8a9'; } /* '' */
.icon-crop:before { content: '\e898'; } /* '' */
.icon-scissors:before { content: '\e8a5'; } /* '' */
.icon-paste:before { content: '\e899'; } /* '' */
.icon-briefcase:before { content: '\e89a'; } /* '' */
.icon-suitcase:before { content: '\e89b'; } /* '' */
.icon-off:before { content: '\e89c'; } /* '' */
.icon-book:before { content: '\e89d'; } /* '' */
.icon-tint:before { content: '\e89e'; } /* '' */
.icon-check:before { content: '\e89f'; } /* '' */
.icon-check-empty:before { content: '\e8a0'; } /* '' */
.icon-circle:before { content: '\e8a1'; } /* '' */
.icon-circle-empty:before { content: '\e8a2'; } /* '' */
.icon-dot-circled:before { content: '\e8a3'; } /* '' */
.icon-asterisk:before { content: '\e8a4'; } /* '' */
.icon-fire:before { content: '\e8b1'; } /* '' */
.icon-magnet:before { content: '\e8b0'; } /* '' */
.icon-chart-bar:before { content: '\e8a6'; } /* '' */
.icon-ticket:before { content: '\e8ac'; } /* '' */
.icon-credit-card:before { content: '\e8aa'; } /* '' */
.icon-floppy:before { content: '\e8ab'; } /* '' */
.icon-key:before { content: '\e8ae'; } /* '' */
.icon-fork:before { content: '\e8ad'; } /* '' */
.icon-bug:before { content: '\e905'; } /* '' */
.icon-certificate:before { content: '\e8af'; } /* '' */
.icon-truck:before { content: '\e8b2'; } /* '' */
.icon-money:before { content: '\e8b3'; } /* '' */
.icon-euro:before { content: '\e8b4'; } /* '' */
.icon-dollar:before { content: '\e8b5'; } /* '' */
.icon-rouble:before { content: '\e8b6'; } /* '' */
.icon-sort:before { content: '\e8b7'; } /* '' */
.icon-sort-down:before { content: '\e8b8'; } /* '' */
.icon-sort-up:before { content: '\e8b9'; } /* '' */
.icon-hammer:before { content: '\e8bb'; } /* '' */
.icon-gauge:before { content: '\e8bc'; } /* '' */
.icon-sitemap:before { content: '\e8ba'; } /* '' */
.icon-spinner:before { content: '\e8bd'; } /* '' */
.icon-coffee:before { content: '\e8d7'; } /* '' */
.icon-food:before { content: '\e8d6'; } /* '' */
.icon-beer:before { content: '\e8d8'; } /* '' */
.icon-user-md:before { content: '\e8c0'; } /* '' */
.icon-stethoscope:before { content: '\e8c1'; } /* '' */
.icon-ambulance:before { content: '\e8be'; } /* '' */
.icon-medkit:before { content: '\e8bf'; } /* '' */
.icon-h-sigh:before { content: '\e8c7'; } /* '' */
.icon-hospital:before { content: '\e8c2'; } /* '' */
.icon-building:before { content: '\e8c3'; } /* '' */
.icon-smile:before { content: '\e8c4'; } /* '' */
.icon-frown:before { content: '\e906'; } /* '' */
.icon-meh:before { content: '\e907'; } /* '' */
.icon-anchor:before { content: '\e8c5'; } /* '' */
.icon-terminal:before { content: '\e8c6'; } /* '' */
.icon-shield:before { content: '\e8c8'; } /* '' */
.icon-extinguisher:before { content: '\e8c9'; } /* '' */
.icon-android:before { content: '\e8cd'; } /* '' */
.icon-apple:before { content: '\e8ce'; } /* '' */
.icon-bitbucket:before { content: '\e8cc'; } /* '' */
.icon-css3:before { content: '\e8cb'; } /* '' */
.icon-dropbox:before { content: '\e8ca'; } /* '' */
.icon-facebook:before { content: '\e8cf'; } /* '' */
.icon-foursquare:before { content: '\e8d0'; } /* '' */
.icon-gplus:before { content: '\e90a'; } /* '' */
.icon-linkedin:before { content: '\e8d3'; } /* '' */
.icon-maxcdn:before { content: '\e8d4'; } /* '' */
.icon-pagelines:before { content: '\e8d5'; } /* '' */
.icon-skype:before { content: '\e909'; } /* '' */
.icon-tumblr:before { content: '\e8d2'; } /* '' */
.icon-vkontakte:before { content: '\e8d1'; } /* '' */
.icon-angle-circled-right:before { content: '\e86d'; } /* '' */